body{
	margin:0;
	padding:0;
	background:#D5D6D1;
	font-family:'Kreon';
}

#header{
	
	#login{
		float:right;
		padding-top:5px;
		margin-right: 20px;
		
		span{
			font-size:.8em;
			font-family:Arial;
			color:#58585B;
			margin-right:10px;
		}
		
		a{
			padding:10px;
			font-size:.8em;
			text-decoration:none;
		}
		
		.sign{
			background:url("images/id.png") no-repeat scroll 10px 7px #4A4A49;
			padding-left:40px;
			color:#FFFFFF;
		}
		
		.login{
			background:url("images/sign.png") no-repeat scroll 10px 7px #4A4A49;
			padding-left:35px;
			margin-right:10px;
			color:#FFFFFF;
		}
	}
	
	#logo{
		float:left;
	}
}

#tabs{
	margin-top:10px;
}

#main{
	background:url('images/background.png') no-repeat;
	width:1000px;
	min-height:746px;
	margin:0 auto;
	
}

#tabs{
	
	.tab{
		float: left;
		padding: 10px 5px;
		text-align: center;
	}
	
	.tab1{
		background:url('images/tab1.png') no-repeat;
		height: 13px;
		width: 150px;
		
		a{
			color:#B6ADD2;
			text-decoration:none;
		}
		
	}
	
	.tab2{
		
		background:url('images/tab2.png') no-repeat;
		height: 13px;
		width: 150px;
		
		a{
			color:#607872;
			text-decoration:none;
		}
	}
	
	.tab2:hover{
		background:url('images/tab2h.png') no-repeat;
	}
	
	.tab3{
		background:url('images/tab3.png') no-repeat;
		height: 13px;
		width: 150px;
		
		a{
			color:#4F6E58;
			text-decoration:none;
		}
	}
	
	.tab3:hover{
		background:url('images/tab3h.png') no-repeat;
	}
	
	.tab4{
		background:url('images/tab4.png') no-repeat;
		height: 13px;
		width: 150px;
		
		a{
			color:#99641F;
			text-decoration:none;
		}
	}
	
	.tab4:hover{
		background:url('images/tab4h.png') no-repeat;
	}
	
	.tab5{
		background:url('images/tab5.png') no-repeat;
		height: 13px;
		width: 209px;
		
		a{
			color:#917A33;
			text-decoration:none;
		}
	}
	
	.tab5:hover{
		background:url('images/tab5h.png') no-repeat;
	}
}

#main_wrapper{
	background-color:#5f5a70;
	padding:30px 30px 10px;
	width:940px;
	
	input.text_search{
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		font-size: .9em;
		color:#CBCBCB;
		padding: 14px 13px;
		border: 1px solid #43404f;
		width:330px;
		margin-right:20px;
		box-shadow:1px 1px 3px #43404f;
		background:#f7f7f7 url('images/textbk.png') repeat-x;
		margin-bottom:5px;
	}
	
	span{
		color:#302E39;
		font-size:.8em;
		font-family:Arial;
		margin-right:133px;
	}

}

#content{
	
	#left{
		float:left;
		height:240px;
		width: 652px;
		background: url("images/ou.png") no-repeat scroll 590px 0 transparent;
		
		a{
			color:#302E39;
			font-size:.8em;
			font-family:Arial;
			text-decoration:none;
		}
	}
	
	#right{
		float:right;
		position:relative;
		
		a.maplink{
			padding-left:45px;
		}
		
		#buscarmapa{
			position:absolute;
			bottom:56px;
			
			h1{
				margin-bottom:0px;
			}
			
			span{
				color: #FFFFFF;
				font-family: 'Kreon';
				font-size: 0.63em;
			}
		}
	}
	
	.path{
		font-size:.7em;
		color:#FFFFFF;
		
		a{
			color:#FFFFFF;
		}
	}
	
	h1{
		font-size:1.1em;
		color:#FFFFFF;
		margin:6px 0px;
	}
	
	#options{
		
		float:left;
		width: 152px;
		
		h1.heading{
			margin:25px 20px 5px 0;
		}
		
		select{
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			border: 1px solid #43404f;
			box-shadow:1px 1px 3px #43404f;
			background:#f7f7f7 url('images/textbk.png') repeat-x;
			font-family:arial;
			font-size:.8em;
			color:#292D32;
			padding: 10px 20px 10px 10px;
		}

	}
}

#dashmenu{
	background:url("images/dashback.png") no-repeat scroll 190px 0 #F0ECF3;
	height:37px;
	padding:13px 30px 0px 30px;
	
	a{
		float:right;
		
	}
	
	ul{
		margin: 2px 0px 0px 0px;
		padding-left:25px;
		float:left;
	}
	
	li{
		float:left;
		margin-right:20px;
		list-style-type:none;
		font-size:.8em;
		font-family:Arial;
		padding-bottom:14px;
	}
	
	li:hover{
		border-bottom: 5px solid #5f5a70;
	}
	
	h1{
		font-family:Arial;
		font-size:1em;
		font-weight:normal;
		margin:0px 0px 10px 0px;
		color:#5F596F;
		float:left;
		width:169px;
	}
}

.main_action{
	background:#feba47 url('images/main_btn.png') repeat-x;
	text-shadow:0px 1px 1px #FFFFFF;
	box-shadow:0px 1px 3px #43404F;
	border: medium none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-weight:bold;
	color:#85592e;
	cursor:pointer;
}

.main_action:hover{
	background:#feba47 url('images/main_btnh.png') repeat-x;
}

.second_action{
	background:#cbcbcb url('images/secondback.png') repeat-x;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size: 0.7em;
	font-weight:bold;
	padding: 4px 10px;
	text-decoration: none;
	color:#5f5a70;
	box-shadow:1px 1px 1px #999999;
}

.delete{
	background:#c03839 url('images/red.png') repeat-x;
	text-shadow:0px 1px 1px #FFFFFF;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 1px 3px #43404F;
	color:#7c2626;
}

.delete:hover{
	background:#c03839 url('images/redhover.png') repeat-x;
}

.buscar{
	padding: 12px 30px;
	font-size:1em;
}

.expand{
	font-size: 0.7em;
	padding: 8px 10px 6px 10px;
	text-decoration: none;
}

.margin{
	margin-top:10px;
}

.main_action2{
	background:#feba47 url('images/main_btn.png') repeat-x;
	text-shadow:0px 1px 1px #FFFFFF;
	box-shadow:0px 1px 3px #43404F;
	border: medium none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 12px 30px;
	font-size:1em;
	font-weight:bold;
	color:#85592e;
	cursor:pointer;
}

.apartment{
	background:#FFFFFF url('images/apartmentback.png') no-repeat;
	padding:20px 30px;
	margin-top:5px;
	
	.left{
		float:left;
	}
	
	.right{
		float:right;
		
		p{
			float:right;
			margin:0;
		}
		
		.bottominfo{
			margin-top:25px;
			margin-right:40px;
			
			span{
				margin-left:20px;
				color:red;
				font-style:normal;
			}
			
			span.visualizacion{
				color:#333333;
				font-style:normal;
				
				strong{
					font-size:1.2em;
				}
			}
		}
		
		span{
			float:right;
			font-family:Arial;
			font-style:italic;
			font-size:.9em;
			color:#636363;
		}
		
		.photos{
			padding-top:50px;
			padding-bottom:85px;
			
			img{
				margin-left:10px;
				border:none;
			}
		}
		
		a{
			margin-left:5px;
			float:right;
		}
		
	}
	
	.info{
		float:left;
		font-size:.9em;
		font-family:Arial;
		color:#636363;
		margin-left:20px;
		border-top: 1px solid #D1D2D4;
		border-bottom: 1px solid #D1D2D4;
		padding:10px 0px;
		height:130px;
		
		ul{
			list-style-type:none;
			margin:10px 0px 0px 0px;	
			padding:0px;
			
			li{
				margin:3px 0;
				
				span{
					color:#333333;
					font-weight:normal;
				}	
			}
			
			li.purple{
				color:#5F596F;
				font-weight:bold;
			}
		}
	}
	
	img{
		border: 1px solid #6b6279;
		float:left;
	}
	
	h3{
		margin:0px;
		font-size:.9em;
		font-family:arial;
		font-weight:normal;
		color:#626262;
	}
	
	h1{
		font-family:arial;
		font-size:1.2em;
		color:#616161;
		margin:0px 0px 5px 0px;
	}
}

#pagination{
	
	background:#FFFFFF;
	padding:30px 20px 50px 20px;
	margin-top:5px;
	
	ul{
		width:300px;
		margin:0 auto;
	}
	
	li{
		float:left;
		list-style-type:none;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		background:#e9e9e9 url('images/paginationback.png') repeat-x;
		padding:5px 10px 3px 10px;
		font-size:.8em;
		font-family:arial;
		color:#717171;
		text-shadow:1px 1px 0px #FFFFFF;
		margin-left:4px;
		box-shadow:1px 1px 3px #999999;
		border:1px solid #c0c0c0;
		cursor:pointer;
	}
	
	li:hover{
		background:#ffffff;
	}
	
	li:active{
		background:#e9e9e9 url('images/paginationbackactive.png') repeat-x;
	}
}

#footer{
	
	margin-top:130px;
	
	a{
		font-size:.8em;
		color:#494949;
		text-decoration:none;
	}
	
	a:hover{
		text-decoration:underline;
	}
	
	ul{
		margin-left:170px;
		
		li{

			float:left;
			margin-right:30px;
			padding-left:5px;
		}
		
		li.first{
			list-style-type:none;
		}
		
	}
	
}

.center{
	width:1000px;
	margin:0 auto;
}

.clear{
	clear:both;
}