body {
  margin: 0;
  padding: 0;
  background: #D5D6D1;
  font-family: 'Kreon'; }

#header #login {
  float: right;
  padding-top: 5px;
  margin-right: 20px; }
  #header #login span {
    font-size: .8em;
    font-family: Arial;
    color: #58585B;
    margin-right: 10px; }
  #header #login a {
    padding: 10px;
    font-size: .8em;
    text-decoration: none; }
  #header #login .sign {
    background: url("images/id.png") no-repeat scroll 10px 7px #4a4a49;
    padding-left: 40px;
    color: #FFFFFF; }
  #header #login .login {
    background: url("images/sign.png") no-repeat scroll 10px 7px #4a4a49;
    padding-left: 35px;
    margin-right: 10px;
    color: #FFFFFF; }
#header #logo {
  float: left; }

#tabs {
  margin-top: 10px; }

#main {
  background: url("images/background.png") no-repeat;
  width: 1000px;
  min-height: 746px;
  margin: 0 auto; }

#tabs .tab {
  float: left;
  padding: 10px 5px;
  text-align: center; }
#tabs .tab1 {
  background: url("images/tab1.png") no-repeat;
  height: 13px;
  width: 150px; }
  #tabs .tab1 a {
    color: #B6ADD2;
    text-decoration: none; }
#tabs .tab2 {
  background: url("images/tab2.png") no-repeat;
  height: 13px;
  width: 150px; }
  #tabs .tab2 a {
    color: #607872;
    text-decoration: none; }
#tabs .tab2:hover {
  background: url("images/tab2h.png") no-repeat; }
#tabs .tab3 {
  background: url("images/tab3.png") no-repeat;
  height: 13px;
  width: 150px; }
  #tabs .tab3 a {
    color: #4F6E58;
    text-decoration: none; }
#tabs .tab3:hover {
  background: url("images/tab3h.png") no-repeat; }
#tabs .tab4 {
  background: url("images/tab4.png") no-repeat;
  height: 13px;
  width: 150px; }
  #tabs .tab4 a {
    color: #99641F;
    text-decoration: none; }
#tabs .tab4:hover {
  background: url("images/tab4h.png") no-repeat; }
#tabs .tab5 {
  background: url("images/tab5.png") no-repeat;
  height: 13px;
  width: 209px; }
  #tabs .tab5 a {
    color: #917A33;
    text-decoration: none; }
#tabs .tab5:hover {
  background: url("images/tab5h.png") no-repeat; }

#main_wrapper {
  background-color: #5f5a70;
  padding: 30px 30px 10px;
  width: 940px; }
  #main_wrapper input.text_search {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: .9em;
    color: #CBCBCB;
    padding: 14px 13px;
    border: 1px solid #43404f;
    width: 330px;
    margin-right: 20px;
    box-shadow: 1px 1px 3px #43404f;
    background: #f7f7f7 url("images/textbk.png") repeat-x;
    margin-bottom: 5px; }
  #main_wrapper span {
    color: #302E39;
    font-size: .8em;
    font-family: Arial;
    margin-right: 133px; }

#content #left {
  float: left;
  height: 240px;
  width: 652px;
  background: url("images/ou.png") no-repeat scroll 590px 0 transparent; }
  #content #left a {
    color: #302E39;
    font-size: .8em;
    font-family: Arial;
    text-decoration: none; }
#content #right {
  float: right;
  position: relative; }
  #content #right a.maplink {
    padding-left: 45px; }
  #content #right #buscarmapa {
    position: absolute;
    bottom: 56px; }
    #content #right #buscarmapa h1 {
      margin-bottom: 0px; }
    #content #right #buscarmapa span {
      color: #FFFFFF;
      font-family: 'Kreon';
      font-size: 0.63em; }
#content .path {
  font-size: .7em;
  color: #FFFFFF; }
  #content .path a {
    color: #FFFFFF; }
#content h1 {
  font-size: 1.1em;
  color: #FFFFFF;
  margin: 6px 0px; }
#content #options {
  float: left;
  width: 152px; }
  #content #options h1.heading {
    margin: 25px 20px 5px 0; }
  #content #options select {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #43404f;
    box-shadow: 1px 1px 3px #43404f;
    background: #f7f7f7 url("images/textbk.png") repeat-x;
    font-family: arial;
    font-size: .8em;
    color: #292D32;
    padding: 10px 20px 10px 10px; }

#dashmenu {
  height: 37px;
  padding: 0px 30px 0px 30px;
  background-color: #F0ECF3; }
  #dashmenu a {
    float: right; }
  #dashmenu ul {
    margin: 9px 0px 0px 0px;
    padding-left: 25px;
    float: left; }
  #dashmenu li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
    font-size: .8em;
    font-family: Arial;
    padding-bottom: 7px; }
  #dashmenu li:hover {
    border-bottom: 5px solid #5f5a70; }
  #dashmenu h1 {
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
    color: #5F596F; }
  #dashmenu #mainheading {
    background: url("images/dashback.png") no-repeat #f0ecf3;
    background-position: right;
    float: left;
    padding-top: 7px;
    padding-right: 45px; }

#container {
  background-color: #FFFFFF;
  padding: 0px 30px;
  border-top: 1px solid #f3f4f4;
  display: inline-block;
  width: 940px; }
  #container .photocontainer {
    width: 640px;
    margin: 0 auto;
    font-family: arial;
    padding-top: 20px; }
    #container .photocontainer h2 {
      color: #5F596F;
      font-size: 1.2em; }
  #container .photoselector {
    background-color: #FAFAFB;
    padding: 20px;
    border: 1px solid #d9dbdc;
    margin-bottom: 20px; }
    #container .photoselector a {
      color: #E79830;
      font-size: .8em;
      margin-right: 10px; }
    #container .photoselector h3 {
      font-size: 1em;
      color: #5F596F;
      margin-top: 0px; }
    #container .photoselector .textfield {
      padding: 3px;
      color: #A3A3A3;
      border-top: 2px solid #CCCCCC;
      border-left: 2px solid #CCCCCC;
      border-bottom: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6;
      font-size: .8em; }
    #container .photoselector textarea {
      width: 592px;
      resize: none;
      font-family: arial;
      font-size: .9em;
      color: #A3A3A3;
      border-top: 2px solid #CCCCCC;
      border-left: 2px solid #CCCCCC;
      border-bottom: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6;
      padding: 3px; }
    #container .photoselector .opcional {
      margin: 15px 0px 10px 0px;
      height: 20px; }
      #container .photoselector .opcional h3 {
        float: left;
        margin: 0px; }
      #container .photoselector .opcional span {
        float: right;
        color: #A3A3A3;
        font-size: .8em;
        margin-top: 14px; }
  #container #imagecontainer {
    width: 660px;
    margin-bottom: 30px; }
  #container .imagedit {
    background: #fafafb;
    border: 1px solid #d9dbdc;
    padding: 18px 10px 10px;
    width: 116px;
    float: left;
    margin-right: 29px; }
    #container .imagedit p {
      font-size: .8em;
      color: #A3A3A3;
      margin-top: 0px; }
    #container .imagedit a {
      color: #E79830;
      font-size: .8em;
      margin-right: 10px; }
  #container .lastone {
    margin: 0px; }
  #container #information {
    padding: 20px 20px 0 0;
    float: left;
    display: inline-block; }
    #container #information h3 {
      font-size: 1em;
      font-family: arial;
      color: #5F596F;
      margin: 20px 0px 10px 0px; }
    #container #information img {
      border: 1px solid #6B6279; }
    #container #information .infocompany {
      font-size: .8em;
      font-family: arial;
      text-decoration: none;
      color: #5F596F; }
  #container #informationdisplay {
    background: url("images/infoback.png") repeat-y;
    padding: 0px 0px 30px 30px;
    font-family: Arial;
    color: #5F596F;
    width: 685px;
    float: left;
    display: inline-block; }
    #container #informationdisplay .apartmentleft {
      float: left;
      width: 340px;
      margin-right: 29px; }
      #container #informationdisplay .apartmentleft p {
        color: #000000;
        font-size: .8em;
        line-height: 25px; }
    #container #informationdisplay .apartmentright {
      float: left;
      width: 270px; }
      #container #informationdisplay .apartmentright #selector {
        width: 190px;
        margin: 0 auto; }
        #container #informationdisplay .apartmentright #selector img {
          border: none; }
        #container #informationdisplay .apartmentright #selector li {
          float: left; }
        #container #informationdisplay .apartmentright #selector li.middle {
          margin: 10px 20px; }
    #container #informationdisplay .datos {
      float: left;
      margin-right: 80px; }
    #container #informationdisplay .active {
      border-bottom: none; }
    #container #informationdisplay .apartmentlist {
      width: 640px;
      background-color: #F9F9FA;
      float: left;
      border-left: 2px solid #e5e6e7;
      border-right: 2px solid #e5e6e7;
      border-bottom: 2px solid #e5e6e7;
      padding: 20px; }
      #container #informationdisplay .apartmentlist .select {
        margin-top: 10px; }
        #container #informationdisplay .apartmentlist .select span {
          float: right; }
      #container #informationdisplay .apartmentlist img {
        border: 1px solid #6B6279; }
      #container #informationdisplay .apartmentlist .pin {
        padding-left: 20px; }
      #container #informationdisplay .apartmentlist .one {
        background: url("images/pina.png") no-repeat; }
      #container #informationdisplay .apartmentlist .two {
        background: url("images/pinb.png") no-repeat; }
      #container #informationdisplay .apartmentlist .three {
        background: url("images/pinc.png") no-repeat; }
      #container #informationdisplay .apartmentlist li {
        font-size: 1.1em; }
      #container #informationdisplay .apartmentlist .segment {
        border-bottom: 1px solid #d1d2d4;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        float: none; }
        #container #informationdisplay .apartmentlist .segment li {
          font-weight: bold; }
        #container #informationdisplay .apartmentlist .segment .italic {
          font-style: italic;
          font-weight: normal; }
    #container #informationdisplay #tabcontent .tabs_content li {
      float: left;
      padding: 10px 20px;
      background-color: #f9f9fa;
      border-top: 2px solid #e8e9e9;
      border-left: 2px solid #e8e9e9;
      border-right: 2px solid #e8e9e9;
      margin-bottom: 0px; }
      #container #informationdisplay #tabcontent .tabs_content li a {
        text-decoration: none;
        color: #626262;
        font-weight: bold; }
    #container #informationdisplay p {
      color: #626262;
      font-size: .9em;
      margin-top: 20px; }
    #container #informationdisplay h3 {
      font-size: 1em;
      margin: 15px 0px 5px 0px; }
    #container #informationdisplay ul {
      margin-top: 5px;
      margin-bottom: 0px;
      list-style-type: none;
      font-size: .8em;
      padding-right: 0px;
      padding-left: 0px;
      color: #5F596F; }
      #container #informationdisplay ul li {
        margin: 4px 0; }

.main_action {
  background: #feba47 url("images/main_btn.png") repeat-x;
  text-shadow: 0px 1px 1px #FFFFFF;
  box-shadow: 0px 1px 3px #43404F;
  border: medium none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-weight: bold;
  color: #85592e;
  cursor: pointer;
  text-transform: uppercase; }

.main_action:hover {
  background: #feba47 url("images/main_btnh.png") repeat-x; }

.second_action {
  background: #cbcbcb url("images/secondback.png") repeat-x;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 0.7em;
  font-weight: bold;
  padding: 4px 10px;
  text-decoration: none;
  color: #5f5a70;
  box-shadow: 1px 1px 1px #999999; }

.delete {
  background: #c03839 url("images/red.png") repeat-x;
  text-shadow: 0px 1px 1px #FFFFFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 3px #43404F;
  color: #7c2626; }

.delete:hover {
  background: #c03839 url("images/redhover.png") repeat-x; }

.buscar {
  padding: 12px 30px;
  font-size: 1em; }

.expand {
  font-size: 0.7em;
  padding: 8px 10px 6px 10px;
  text-decoration: none; }

.graybutton {
  background: url("images/graybtnback.png") repeat-x scroll 0 0 #d7d7d7;
  border: 1px solid #E4E4E5;
  color: #515151;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px 6px;
  text-shadow: 0 1px 1px #FFFFFF; }

.margin {
  margin-top: 4px; }

.main_action2 {
  background: #feba47 url("images/main_btn.png") repeat-x;
  text-shadow: 0px 1px 1px #FFFFFF;
  box-shadow: 0px 1px 3px #43404F;
  border: medium none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 12px 30px;
  font-size: 1em;
  font-weight: bold;
  color: #85592e;
  cursor: pointer; }

.apartment {
  background: white url("images/apartmentback.png") no-repeat;
  padding: 20px 30px;
  margin-top: 5px; }
  .apartment .left {
    float: left; }
  .apartment .right {
    float: right; }
    .apartment .right p {
      float: right;
      margin: 0; }
    .apartment .right .bottominfo {
      margin-top: 25px;
      margin-right: 40px; }
      .apartment .right .bottominfo span {
        margin-left: 20px;
        color: red;
        font-style: normal; }
      .apartment .right .bottominfo span.visualizacion {
        color: #333333;
        font-style: normal; }
        .apartment .right .bottominfo span.visualizacion strong {
          font-size: 1.2em; }
    .apartment .right span {
      float: right;
      font-family: Arial;
      font-style: italic;
      font-size: .9em;
      color: #636363; }
    .apartment .right .photos {
      padding-top: 50px;
      padding-bottom: 85px; }
      .apartment .right .photos img {
        margin-left: 10px;
        border: none; }
    .apartment .right a {
      margin-left: 5px;
      float: right; }
  .apartment .info {
    float: left;
    font-size: .9em;
    font-family: Arial;
    color: #636363;
    margin-left: 20px;
    border-top: 1px solid #D1D2D4;
    border-bottom: 1px solid #D1D2D4;
    padding: 10px 0px;
    height: 130px; }
    .apartment .info ul {
      list-style-type: none;
      margin: 10px 0px 0px 0px;
      padding: 0px; }
      .apartment .info ul li {
        margin: 3px 0; }
        .apartment .info ul li span {
          color: #333333;
          font-weight: normal; }
      .apartment .info ul li.purple {
        color: #5F596F;
        font-weight: bold; }
  .apartment img {
    border: 1px solid #6b6279;
    float: left; }
  .apartment h3 {
    margin: 0px;
    font-size: .9em;
    font-family: arial;
    font-weight: normal;
    color: #626262; }
  .apartment h1 {
    font-family: arial;
    font-size: 1.2em;
    color: #616161;
    margin: 0px 0px 5px 0px; }

#pagination {
  background: #FFFFFF;
  padding: 30px 20px 50px 20px;
  margin-top: 5px; }
  #pagination ul {
    width: 300px;
    margin: 0 auto; }
  #pagination li {
    float: left;
    list-style-type: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #e9e9e9 url("images/paginationback.png") repeat-x;
    padding: 5px 10px 3px 10px;
    font-size: .8em;
    font-family: arial;
    color: #717171;
    text-shadow: 1px 1px 0px #FFFFFF;
    margin-left: 4px;
    box-shadow: 1px 1px 3px #999999;
    border: 1px solid #c0c0c0;
    cursor: pointer; }
  #pagination li:hover {
    background: #ffffff; }
  #pagination li:active {
    background: #e9e9e9 url("images/paginationbackactive.png") repeat-x; }

#footer {
  margin-top: 130px; }
  #footer a {
    font-size: .8em;
    color: #494949;
    text-decoration: none; }
  #footer a:hover {
    text-decoration: underline; }
  #footer ul {
    margin-left: 170px; }
    #footer ul li {
      float: left;
      margin-right: 30px;
      padding-left: 5px; }
    #footer ul li.first {
      list-style-type: none; }

.center {
  width: 1000px;
  margin: 0 auto; }

.clear {
  clear: both; }
